@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.layout{
    display:flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
.firstitem{
    display:flex;
    flex-direction: row;
    place-content: space-between;
    padding:1rem;
    place-items: flex-start;
    box-shadow: 0px 0px 2px gray;
}
.firstitem>h3{
    margin-left:35rem;
}

.header{
    display:flex;
    flex-direction: row;
    place-content: space-between;
    padding: 0 1rem;
    margin-top: 1rem;
    
}
.header>h3{
    font-weight: 500;
}

.rows{
    display:flex;
    flex-direction: row;
    padding:0 1rem;
    place-content: space-between;
    
    margin-top: .5rem;
}

.freq{
    width: 4.5rem;
    
}
.sto{
    border-radius: 100%;
    cursor: pointer;
    /* color:rgba(40, 89, 40, 0.456); */
    object-fit: cover;
    border: 5px solid #8dc9ae;

}
.soto{
    border-radius: 100%;
    cursor: pointer;
    
    object-fit: cover;
    border:1px solid red;
    background: transparent;
    color:black;

}
.clear{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.sto>img{
    border-radius: 100%;
}
.save{
    color:red;
    background: transparent;
    outline: none;
    width:5rem;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid rgb(220, 64, 64);
}
.eod{
    width: 5rem;
}

.alert{
    border: 1px solid hsl(0,0%,80%);
    border-radius: 4px;
    height:1.6;
    padding:0.5em;
    width:14rem;
    outline: none;
}
.space{
    margin-left:-5rem;
    
}
.dynamic{
    min-width:22rem;
}
.min{
    border: 1px solid hsl(0,0%,80%);
    border-radius: 4px;
    height:1.6rem;
    padding:0.3rem;
    text-align: center;
    width:4rem;
    outline: none;
}
.inbuddy{
    border:1px solid hsl(0,0%,80%);
}